<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="JavaFX SWT" sequenceNumber="1617973026">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.feature.group" version="4.19.0.v20210303-1800"/>
      <unit id="org.eclipse.gef.fx.swt" version="5.0.2.202103090301"/>
      <repository location="https://download.eclipse.org/releases/2021-03"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.7.0.202010120720"/>
      <unit id="org.eclipse.fx.core" version="3.7.0.202010120723"/>
      <repository location="https://download.eclipse.org/efxclipse/runtime-released/3.7.0/site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="openjfx.standard.feature.feature.group" version="11.0.0.201901231300"/>
      <unit id="openjfx.swt.feature.feature.group" version="11.0.0.201901231300"/>
      <unit id="openjfx.swing.feature.feature.group" version="11.0.0.201901231300"/>
      <repository location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11/repository/"/>
    </location>
  </locations>
</target>
